{% extends "layout.html" %}
{% block conteudo %}
        <table border="1">
            <tr>
                <td>Nome</td>
                <td>Valor</td>
                <td></td>
            </tr>
            {% for tupla in resultado %}
                <tr>
                    <td>{{tupla[1]}}</td>
                    <td>{{tupla[2]}}</td>
                    <td><a href="/prato/remover?id={{tupla[0]}}">&nbsp;X&nbsp;</a></td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}