{% extends "layout.html" %}
{% block conteudo %}
        <table border="1">
            <tr>
                <td>Venda</td>
                <td>Prato</td>
                <td>Cliente</td>
                <td>Valor Prato</td>
                <td>Valor Venda</td>
                <td>Data</td>
                <td></td>
            </tr>
            {% for tupla in resultado %}
                <tr>
                    <td>{{tupla[0]}}</td>
                    <td>{{tupla[1]}}</td>
                    <td>{{tupla[2]}}</td>
                    <td>{{tupla[3]}}</td>
                    <td>{{tupla[4]}}</td>
                    <td>{{tupla[5]}}</td>
                    <td><a href="/venda/remover?id={{tupla[0]}}">&nbsp;X&nbsp;</a></td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}