		{% extends "layout.html" %}
		{% block conteudo %}
		<h2>Escolha seu Voo</h2>
		<form method="post" action="/listar">
			<input type="date" name="data">
			<input type="submit" value="Buscar">
		</form>
		 
		<table border="1">
			<tr>
				<th> ID        </th>
				<th> VOO       </th>
				<th> AVIAO      </th>
				<th> ORIGEM     </th>
				<th> DESTINO   </th>
				<th> DATA</th>
				<th> PREÇO</th>
			</tr>
			{% for tupla in listaGol %}
				<tr>
					<td> {{tupla['id']}} </td>
					<td> {{tupla['voo']}} </td>
					<td> {{tupla['aviao']}} </td>
					<td> {{tupla['origem']}} </td>
					<td> {{tupla['destino']}} </td>
					<td> {{tupla['datahora']}} </td>
					<td> {{tupla['preco']}}
					</td>
					<td> <a href="/comprar?id={{tupla['id']}}&voo={{tupla['voo']}}">comprar</a></td>
				<tr>
			{% endfor %}
			{% for tupla in listaLatam %}
				<tr>
					<td> {{tupla['id']}} </td>
					<td> {{tupla['voo']}} </td>
					<td> {{tupla['aviao']}} </td>
					<td> {{tupla['origem']}} </td>
					<td> {{tupla['destino']}} </td>
					<td> {{tupla['datahora']}} </td>
					<td> {{tupla['preco']}}
					</td>
					<td> <a href="/comprar?id={{tupla['id']}}&voo={{tupla['voo']}}">comprar</a></td>
				<tr>
			{% endfor %}
		</table>
		{% endblock %}